In [2]:
pip install cryptocompare

Requirement already satisfied: cryptocompare in /opt/anaconda3/lib/python3.9/site-packages (0.7.5)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.9/site-packages (from cryptocompare) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests->cryptocompare) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests->cryptocompare) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests->cryptocompare) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from requests->cryptocompare) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install numpy

Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.9/site-packages (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import quandl
import json
import requests
import pandas as pd 
import numpy as np

In [27]:
URL = 'https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&limit=70&api_key=2ce5222a6d0867167d59150d7ad6a4b7616bba7a0d1299da87a444e979ddc5ce'

In [28]:
answer = requests.get(URL)

In [29]:
data = json.loads(answer.text)

In [30]:
data

{'Response': 'Success',
 'Type': 100,
 'Aggregated': False,
 'TimeTo': 1651190400,
 'TimeFrom': 1645142400,
 'FirstValueInArray': True,
 'ConversionType': {'type': 'direct', 'conversionSymbol': ''},
 'Data': [{'time': 1645142400,
   'high': 40980.65,
   'low': 39496.7,
   'open': 40545.09,
   'volumefrom': 32514.79,
   'volumeto': 1308787736.51,
   'close': 39994.66,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1645228800,
   'high': 40464.62,
   'low': 39664.71,
   'open': 39994.66,
   'volumefrom': 11674.81,
   'volumeto': 467744109.72,
   'close': 40107.12,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1645315200,
   'high': 40142.98,
   'low': 38019.97,
   'open': 40107.12,
   'volumefrom': 23028.66,
   'volumeto': 890707081.68,
   'close': 38397.25,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1645401600,
   'high': 39495.33,
   'low': 36862.52,
   'open': 38397.25,
   'volumefrom': 47549.32,
   'volumeto': 1819938918.66,
   'close': 37037.39,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1645488000,
   'high': 38458.26,
   'low': 36371.68,
   'open': 37037.39,
   'volumefrom': 42886.39,
   'volumeto': 1605539398.15,
   'close': 38267.75,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1645574400,
   'high': 39260.51,
   'low': 37083.83,
   'open': 38267.75,
   'volumefrom': 31850.78,
   'volumeto': 1218156854.61,
   'close': 37270.85,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1645660800,
   'high': 39182.44,
   'low': 34349.58,
   'open': 37270.85,
   'volumefrom': 93348.71,
   'volumeto': 3367553842.97,
   'close': 38353.62,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1645747200,
   'high': 39710.26,
   'low': 38043.51,
   'open': 38353.62,
   'volumefrom': 39454.29,
   'volumeto': 1536575836.24,
   'close': 39239.77,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1645833600,
   'high': 40228.13,
   'low': 38605.65,
   'open': 39239.77,
   'volumefrom': 18649.99,
   'volumeto': 732995982.54,
   'close': 39134.83,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1645920000,
   'high': 39861.91,
   'low': 37039.71,
   'open': 39134.83,
   'volumefrom': 30834.07,
   'volumeto': 1184510440.64,
   'close': 37714.96,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646006400,
   'high': 43953.92,
   'low': 37473.3,
   'open': 37714.96,
   'volumefrom': 55323.43,
   'volumeto': 2231772118.95,
   'close': 43189.46,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646092800,
   'high': 44883.1,
   'low': 42893.5,
   'open': 43189.46,
   'volumefrom': 48462.11,
   'volumeto': 2121207162.06,
   'close': 44428.47,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646179200,
   'high': 45069.78,
   'low': 43387.92,
   'open': 44428.47,
   'volumefrom': 37389.51,
   'volumeto': 1652867992.22,
   'close': 43935.37,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646265600,
   'high': 44079.17,
   'low': 41852.46,
   'open': 43935.37,
   'volumefrom': 36512.65,
   'volumeto': 1565020513.9,
   'close': 42474.37,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646352000,
   'high': 42520.95,
   'low': 38621.24,
   'open': 42474.37,
   'volumefrom': 50126.39,
   'volumeto': 2043287977.87,
   'close': 39154.4,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646438400,
   'high': 39596.42,
   'low': 38652.98,
   'open': 39154.4,
   'volumefrom': 15938.79,
   'volumeto': 624289503.91,
   'close': 39407.02,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646524800,
   'high': 39686.74,
   'low': 38133.84,
   'open': 39407.02,
   'volumefrom': 21034.62,
   'volumeto': 818379145.11,
   'close': 38428.92,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646611200,
   'high': 39536.14,
   'low': 37191.99,
   'open': 38428.92,
   'volumefrom': 40474.56,
   'volumeto': 1547870219.6,
   'close': 38030.63,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646697600,
   'high': 39361.33,
   'low': 37905.43,
   'open': 38030.63,
   'volumefrom': 35521.85,
   'volumeto': 1373819361.89,
   'close': 38748.52,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646784000,
   'high': 42557.95,
   'low': 38685.96,
   'open': 38748.52,
   'volumefrom': 47211.82,
   'volumeto': 1960521974.24,
   'close': 41962.85,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646870400,
   'high': 42043.56,
   'low': 38853.45,
   'open': 41962.85,
   'volumefrom': 42472.49,
   'volumeto': 1683595949.7,
   'close': 39443.42,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1646956800,
   'high': 40221.93,
   'low': 38261.24,
   'open': 39443.42,
   'volumefrom': 39197.4,
   'volumeto': 1527385235.35,
   'close': 38741.03,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647043200,
   'high': 39414.02,
   'low': 38696.52,
   'open': 38741.03,
   'volumefrom': 11886.69,
   'volumeto': 464694957.41,
   'close': 38805.53,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647129600,
   'high': 39254.88,
   'low': 37633.11,
   'open': 38805.53,
   'volumefrom': 17796.13,
   'volumeto': 687723583.56,
   'close': 37796.31,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647216000,
   'high': 39802.89,
   'low': 37566.52,
   'open': 37796.31,
   'volumefrom': 32100.73,
   'volumeto': 1245884221.15,
   'close': 39696.28,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647302400,
   'high': 39863.78,
   'low': 38259.88,
   'open': 39696.28,
   'volumefrom': 30642.09,
   'volumeto': 1196862773.71,
   'close': 39314.86,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647388800,
   'high': 41638.54,
   'low': 38933.24,
   'open': 39314.86,
   'volumefrom': 54967.36,
   'volumeto': 2217384588.25,
   'close': 41133.64,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647475200,
   'high': 41441.08,
   'low': 40581.36,
   'open': 41133.64,
   'volumefrom': 18001.83,
   'volumeto': 736387236.02,
   'close': 40956.79,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647561600,
   'high': 42250.94,
   'low': 40230.1,
   'open': 40956.79,
   'volumefrom': 31863.74,
   'volumeto': 1310605069.99,
   'close': 41790.97,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647648000,
   'high': 42367.55,
   'low': 41549.61,
   'open': 41790.97,
   'volumefrom': 15244.76,
   'volumeto': 638860853.99,
   'close': 42235.02,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647734400,
   'high': 42297.3,
   'low': 40979.25,
   'open': 42235.02,
   'volumefrom': 15580.67,
   'volumeto': 647551620.15,
   'close': 41243.16,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647820800,
   'high': 41510.03,
   'low': 40555.57,
   'open': 41243.16,
   'volumefrom': 21865.63,
   'volumeto': 897693606.33,
   'close': 41043.9,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647907200,
   'high': 43287.39,
   'low': 40923.9,
   'open': 41043.9,
   'volumefrom': 37636.83,
   'volumeto': 1597913842.6,
   'close': 42380.11,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1647993600,
   'high': 43021.74,
   'low': 41806.4,
   'open': 42380.11,
   'volumefrom': 26406.13,
   'volumeto': 1116852856.74,
   'close': 42904.1,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1648080000,
   'high': 44230.66,
   'low': 42653.71,
   'open': 42904.1,
   'volumefrom': 34879.48,
   'volumeto': 1514036890.73,
   'close': 44006.77,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1648166400,
   'high': 45112.71,
   'low': 43629.05,
   'open': 44006.77,
   'volumefrom': 34465.44,
   'volumeto': 1529847572.88,
   'close': 44331.36,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1648252800,
   'high': 44811.3,
   'low': 44108.04,
   'open': 44331.36,
   'volumefrom': 11559.16,
   'volumeto': 513402297.27,
   'close': 44542.31,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1648339200,
   'high': 46896.6,
   'low': 44449.41,
   'open': 44542.31,
   'volumefrom': 22676.91,
   'volumeto': 1035071605.98,
   'close': 46842.14,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1648425600,
   'high': 48208.48,
   'low': 46669.19,
   'open': 46842.14,
   'volumefrom': 35796.78,
   'volumeto': 1697234773.76,
   'close': 47128.71,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1648512000,
   'high': 48054.67,
   'low': 47018.87,
   'open': 47128.71,
   'volumefrom': 27820.54,
   'volumeto': 1324122253.95,
   'close': 47445.3,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1648598400,
   'high': 47690.62,
   'low': 46606.97,
   'open': 47445.3,
   'volumefrom': 24550.14,
   'volumeto': 1158606188.62,
   'close': 47056.41,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1648684800,
   'high': 47599.87,
   'low': 45220.41,
   'open': 47056.41,
   'volumefrom': 29105.61,
   'volumeto': 1350600519.47,
   'close': 45522.65,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1648771200,
   'high': 46726.2,
   'low': 44256.66,
   'open': 45522.65,
   'volumefrom': 34247.82,
   'volumeto': 1558891962.07,
   'close': 46299.75,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1648857600,
   'high': 47208.84,
   'low': 45655.15,
   'open': 46299.75,
   'volumefrom': 16494.27,
   'volumeto': 765849775.02,
   'close': 45822.28,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1648944000,
   'high': 47432.6,
   'low': 45565.57,
   'open': 45822.28,
   'volumefrom': 17415.21,
   'volumeto': 809819360.86,
   'close': 46414.26,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649030400,
   'high': 46893.71,
   'low': 45136.03,
   'open': 46414.26,
   'volumefrom': 24886.34,
   'volumeto': 1145480471.77,
   'close': 46609.36,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649116800,
   'high': 47187.66,
   'low': 45382.83,
   'open': 46609.36,
   'volumefrom': 24206.2,
   'volumeto': 1118296319.71,
   'close': 45501.58,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649203200,
   'high': 45518.32,
   'low': 43129.76,
   'open': 45501.58,
   'volumefrom': 43268.81,
   'volumeto': 1918395755.34,
   'close': 43177.78,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649289600,
   'high': 43894.7,
   'low': 42766.45,
   'open': 43177.78,
   'volumefrom': 22801.41,
   'volumeto': 989892880.8,
   'close': 43466.21,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649376000,
   'high': 43982.39,
   'low': 42123.42,
   'open': 43466.21,
   'volumefrom': 25455.2,
   'volumeto': 1098738940.21,
   'close': 42273.38,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649462400,
   'high': 42813.04,
   'low': 42136.04,
   'open': 42273.38,
   'volumefrom': 9050.96,
   'volumeto': 384171498.87,
   'close': 42768.61,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649548800,
   'high': 43442.48,
   'low': 41921.59,
   'open': 42768.61,
   'volumefrom': 12859.53,
   'volumeto': 549311405.43,
   'close': 42153.77,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649635200,
   'high': 42422.86,
   'low': 39229.4,
   'open': 42153.77,
   'volumefrom': 34885.37,
   'volumeto': 1423397890.93,
   'close': 39536.71,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649721600,
   'high': 40673.93,
   'low': 39266.86,
   'open': 39536.71,
   'volumefrom': 27198.43,
   'volumeto': 1087667635.69,
   'close': 40086.66,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649808000,
   'high': 41538.17,
   'low': 39591.74,
   'open': 40086.66,
   'volumefrom': 24390.05,
   'volumeto': 990022174.31,
   'close': 41150.33,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649894400,
   'high': 41503.56,
   'low': 39587.14,
   'open': 41150.33,
   'volumefrom': 21473.52,
   'volumeto': 870654332.34,
   'close': 39951.63,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1649980800,
   'high': 40800.76,
   'low': 39779.2,
   'open': 39951.63,
   'volumefrom': 13944.94,
   'volumeto': 561514975.78,
   'close': 40563.69,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1650067200,
   'high': 40698.01,
   'low': 40019.08,
   'open': 40563.69,
   'volumefrom': 7771.05,
   'volumeto': 313875941.14,
   'close': 40392.55,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1650153600,
   'high': 40602.63,
   'low': 39563.9,
   'open': 40392.55,
   'volumefrom': 9701.08,
   'volumeto': 389893199.53,
   'close': 39688.16,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1650240000,
   'high': 41096.46,
   'low': 38569.14,
   'open': 39688.16,
   'volumefrom': 27721.5,
   'volumeto': 1101204133.54,
   'close': 40811.03,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1650326400,
   'high': 41755.93,
   'low': 40588.12,
   'open': 40811.03,
   'volumefrom': 18644.77,
   'volumeto': 768239204.72,
   'close': 41504.44,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1650412800,
   'high': 42208.1,
   'low': 40919.04,
   'open': 41504.44,
   'volumefrom': 25834.31,
   'volumeto': 1072814871.19,
   'close': 41375.35,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1650499200,
   'high': 42996.5,
   'low': 39864.73,
   'open': 41375.35,
   'volumefrom': 31792.3,
   'volumeto': 1324052657.83,
   'close': 40490.97,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1650585600,
   'high': 40794.73,
   'low': 39190.22,
   'open': 40490.97,
   'volumefrom': 28863.91,
   'volumeto': 1154693915.31,
   'close': 39716.04,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1650672000,
   'high': 39988.54,
   'low': 39305.67,
   'open': 39716.04,
   'volumefrom': 11481.51,
   'volumeto': 455659637.8,
   'close': 39445.97,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1650758400,
   'high': 39943.44,
   'low': 39044.29,
   'open': 39445.97,
   'volumefrom': 12668.56,
   'volumeto': 501272140.43,
   'close': 39466.26,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1650844800,
   'high': 40590.8,
   'low': 38234.7,
   'open': 39466.26,
   'volumefrom': 38636.23,
   'volumeto': 1514243711.31,
   'close': 40437.52,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1650931200,
   'high': 40797.85,
   'low': 37726.59,
   'open': 40437.52,
   'volumefrom': 38188.24,
   'volumeto': 1492483889.14,
   'close': 38117.39,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1651017600,
   'high': 39465.62,
   'low': 37900.6,
   'open': 38117.39,
   'volumefrom': 34510.32,
   'volumeto': 1341340920.21,
   'close': 39252.04,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1651104000,
   'high': 40386.5,
   'low': 38892.1,
   'open': 39252.04,
   'volumefrom': 29981.12,
   'volumeto': 1188927763.73,
   'close': 39749.75,
   'conversionType': 'direct',
   'conversionSymbol': ''},
  {'time': 1651190400,
   'high': 39922.6,
   'low': 39683.31,
   'open': 39749.75,
   'volumefrom': 931.75,
   'volumeto': 37092184.38,
   'close': 39907.97,
   'conversionType': 'direct',
   'conversionSymbol': ''}],
 'RateLimit': {},
 'HasWarning': False}

In [31]:
df = pd.DataFrame(data['Data'])
df

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1645142400,40980.65,39496.70,40545.09,32514.79,1.308788e+09,39994.66,direct,
1,1645228800,40464.62,39664.71,39994.66,11674.81,4.677441e+08,40107.12,direct,
2,1645315200,40142.98,38019.97,40107.12,23028.66,8.907071e+08,38397.25,direct,
3,1645401600,39495.33,36862.52,38397.25,47549.32,1.819939e+09,37037.39,direct,
4,1645488000,38458.26,36371.68,37037.39,42886.39,1.605539e+09,38267.75,direct,
...,...,...,...,...,...,...,...,...,...
66,1650844800,40590.80,38234.70,39466.26,38636.23,1.514244e+09,40437.52,direct,
67,1650931200,40797.85,37726.59,40437.52,38188.24,1.492484e+09,38117.39,direct,
68,1651017600,39465.62,37900.60,38117.39,34510.32,1.341341e+09,39252.04,direct,
69,1651104000,40386.50,38892.10,39252.04,29981.12,1.188928e+09,39749.75,direct,
70,1651190400,39922.60,39683.31,39749.75,931.75,3.709218e+07,39907.97,direct,

In [32]:
df['time'] = pd.to_datetime(df['time'],unit='s')
df

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,2022-02-18,40980.65,39496.70,40545.09,32514.79,1.308788e+09,39994.66,direct,
1,2022-02-19,40464.62,39664.71,39994.66,11674.81,4.677441e+08,40107.12,direct,
2,2022-02-20,40142.98,38019.97,40107.12,23028.66,8.907071e+08,38397.25,direct,
3,2022-02-21,39495.33,36862.52,38397.25,47549.32,1.819939e+09,37037.39,direct,
4,2022-02-22,38458.26,36371.68,37037.39,42886.39,1.605539e+09,38267.75,direct,
...,...,...,...,...,...,...,...,...,...
66,2022-04-25,40590.80,38234.70,39466.26,38636.23,1.514244e+09,40437.52,direct,
67,2022-04-26,40797.85,37726.59,40437.52,38188.24,1.492484e+09,38117.39,direct,
68,2022-04-27,39465.62,37900.60,38117.39,34510.32,1.341341e+09,39252.04,direct,
69,2022-04-28,40386.50,38892.10,39252.04,29981.12,1.188928e+09,39749.75,direct,
70,2022-04-29,39922.60,39683.31,39749.75,931.75,3.709218e+07,39907.97,direct,

In [35]:
df=df[['time','close']]
df.columns = ['Date','close']

In [36]:
df

         Date     close
0  2022-02-18  39994.66
1  2022-02-19  40107.12
2  2022-02-20  38397.25
3  2022-02-21  37037.39
4  2022-02-22  38267.75
..        ...       ...
66 2022-04-25  40437.52
67 2022-04-26  38117.39
68 2022-04-27  39252.04
69 2022-04-28  39749.75
70 2022-04-29  39907.97

[71 rows x 2 columns]

In [ ]:
##Analysis process: phase I: I selected the price of bitcoin for 70 days since February 18, 2022 to explore and study the factors of the war between Russia and Ukraine and the price changes of bulk commodities caused by them, as well as the price change mechanism of bitcoin caused by the price changes of bulk energy commodities such as energy, oil and natural gas. Phase II: Analysis: however, we can see that the price of bitcoin fluctuates around 37000-38000 within a period of 70 days, and there is no obvious upward or downward trend of price, which shows that the price changes of international crude oil, natural gas and other bulk energy commodities caused by the war between Russia and Ukraine will not directly affect the trading process and price changes of bitcoin.